@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
body {
    font-family: 'Cairo', sans-serif;
    height: 99vh;
}

.allCards {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 99vh;
}

.card {
    width: 320px;
    height: 480px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
    width: 320px;
    height: 180px;
    background-size: cover;
    background-position: center;
}

.cardContainer {
    padding: 0.5rem;
    width: 310px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(240, 204, 0);
    padding: 0 0.5rem;
}

p {
    font-weight: bold;
}

.links {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .allCards {
        flex-direction: column;
        justify-content: space-between;
    }
    .card {
        margin-bottom: 2rem;
    }
}